<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<p>Tension:{{measure.voltage}} V</p>
<p>Courant:{{measure.current}} A</p>
<p>Energy:{{measure.finalEnergyValue}} Wh</p>
<p>Puissance:{{measure.realPower}} W</p>
<p>Etat:{{measure.etat}}</p>
<button (click)="toggleCurrent()">button</button>